@font-face{
    font-family: 'Epilogue-regular';
    src: url(fonts/Epilogue-Regular.ttf);
}

@font-face{
    font-family: 'Epilogue-bold';
    src: url(fonts/Epilogue-Bold.ttf);
}

@font-face{
    font-family: 'Epilogue-thin';
    src: url(fonts/Epilogue-Thin.ttf);
}

body{
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

header, nav{
    width: 100vw;
    height: 80px;

    background-color: #28293E;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.menu{
    width: 515px;

    display: flex;
    justify-content: space-between;
}

.menu > a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Epilogue-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

nav > button{
    width: 138px;
    height: 48px;

    background-color: #28293E;

    color: #FFFFFF;
    font-family: 'Epilogue-bold';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;

    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main{
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    
}

.gabriel_pires{
    height: 100vh;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    background-color: #28293E;
}

.clean_design{
    width: 500px;
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    gap: 50px;
}

.clean_design > span:nth-child(1){
    margin-bottom: -80px;
}

.clean_design > h1{
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;

    margin-bottom: -20px;
}

.text_style_orange{
    font-family: 'Epilogue-regular';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    color: #EF6D58;
    text-transform: uppercase;
}

.text_style_white{
    font-family: 'Epilogue-bold';
    color: #FFFFFF;
}

.text_style_dark{
    font-family: 'Epilogue-bold';
    font-size: 56px;
    letter-spacing: -1px;
    color: #391400;
}

.dark_thin{
    font-family: 'Epilogue-thin';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.64);  
}

.dark_bold{
    font-family: 'Epilogue-bold';
    font-size: 24px;
    line-height: 32px;
    color: #391400;
}

.darker_regular{
    font-family: 'Epilogue-regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
}

.dark_regular{
    font-family: 'Epilogue-regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

.clean_design > button{
    width: 154px;
    height: 48px;

    font-family: 'Epilogue-bold';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;

    background: #EF6D58;
    border-radius: 6px;
    border: none;
}

.photo{
    width: 570px;
    height: 555px;

    background-image: url(../image/pic.png);
}

.service{
    height: 100vh;

    background: #FDF0E9;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

.help{
    width: 425px;
    height: 128px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.help > h2{
    margin-bottom: -40px;
}

.learn_more{
    width: 1172px;
    height: 352px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
    

.design{
    width: 586px;
    height: 352px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.border{
    border: 1px solid #F3D1BF;
    border-radius: 6px 0px 0px 6px;
    border-right: none;

}

.development{
    
    border: 1px solid #F3D1BF;
    border-radius: 0px 6px 6px 0px;
}

.design > div{

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 20px;

    margin-left: 50px;
}

.design > span{
    width: 490px;
    height: 70px;

     margin-left: 50px;
}

.explore{
    width: 260px;
    height: 32px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.explore > span:nth-child(2){
    margin-left: 5px;
}

.portfolio{
    width: 100vw;
    height: 980px;

    background-color: #28293E;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.latest_work{
    width: 90%;
    height: 300px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.text{
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}

.text >h2{
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

.latest_work > button{
    width: 170px;
    height: 48px;

    background-color: #28293E;

    color: #FFFFFF;
    font-family: 'Epilogue-bold';
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;

    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
}

.bitmap{
    width: 100%;
    height: 608px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.bitmap > div{
    width: 100%;
    height: 608px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border: 1px solid #3A3C56;
}

.sofa{
    background-image: url(../image/Bitmap1.png);
    background-size: 100% 100%;
}

.sofa > span{
    width: 84px;
}

.keyboard{
    background-image: url(../image/Bitmap2.png);
    background-size: 100% 100%; 
}

.keyboard > span{
    width: 102px;
}

.work_media{
    background-image: url(../image/Bitmap3.png);
    background-size: 100% 100%; 
}

.work_media > span{
    width: 116px;
}

.same{
    width: 70%;
    height: 576px;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: flex-start;
    
}

.same > span{
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 19px;

    margin-left: 50px;
}

.same > h3{
    font-size: 40px;
    line-height: 48px;

    margin-left: 50px;
}

.web_designer{
    width: 100%;
    height: 1200px;

    background-color: #FDF0E9;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 174px;
}

.professional{
    width: 1152px;
    height: auto;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

}

.photo2{
    width: 529px;
    height: 551px;

    background-image: url(../image/pic2.png);
    background-size: 100% 100%;
}

.text2{
    width: 470px;
    height: 450px;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}

.text2 > .darker_regular{
    margin-bottom: 10px;
}

.text2 > button{
    width: 138px;
    height: 38px;

    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border: none;

    font-family: 'Epilogue-bold';
    font-size: 14px;
    line-height: 14px;
    color: #391400;

    margin-top: 30px;
}

.statistics{
    width: 1172px;
    height: 176px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;

    border: 1px solid #F3D1BF;
    border-radius: 6px 6px 6px 6px;
}

.content{
    width: 586px;
    height: 176px;

    padding-left: 50px;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 30px;
}

.content > div{
    display: flex;
    flex-direction: column; 

    justify-content: center;
    align-items: flex-start;
}

.calendar{
    border-right: 1px solid #F3D1BF;
}

.new_look{
    width: 100vw;
    height: 1316px;

    display: flex;
    flex-direction: column; 

    justify-content: center;
    align-items: flex-end;
}

.features{
    width: 100%;
    height: 980px;

    display: flex;
    flex-direction: row; 

    justify-content: center;
    align-items: center;

    background-color: #28293E;
}

.text3{
    width: 600px;
    height: 500px;

    display: flex;
    flex-direction: column; 

    justify-content: center;
    align-items: flex-start;
}

.text3 > h1{
    width: 420px;
    font-size: 56px;
    line-height: 64px;
}

.text3 > span:nth-child(3){
    width: 470px;

    margin-bottom: 50px;

    font-family: 'Epilogue-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.photo3{
    width: 580px;
    height: 570px;

    background-image: url(../image/pic4.png);
    background-size: 100% 100%;
}

.list{
    width: 288px;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 15px;
    flex-wrap: wrap;
}

.get_started{
    width: 100vw;
    height: 336px;

    background-color: #F9E5DA;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.move_faster{
    width: 217px;
    height: 400px;

    display: flex;
    flex-direction: column;

    justify-content:center;
    align-items:  flex-start;

    gap: 10px;
    margin-bottom: 100px;
}

.move_faster > h4{
    width: 217px;
    height: 64px;

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.move_faster > button{
    width: 154px;
    height: 48px;

    
    background: #EF6D58;
    border-radius: 6px;
    border: none;

    font-size: 14px;
    line-height: 14px;
}

.log_run{
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;


    width: 830px;
    height: 242px;
}

.comments {
    height: 100vh;
    background-color: #FDF0E9;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.comments__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.comments__titles > .text_style_dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* COMMENT CARD */

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50%;
}
.comment__card {
    border: 1px solid #F3D1BF;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 40px;

    transition: all 0.3s;
}
.comment__card:hover {
    transform: scale(1.2);
    background-color: white;
}
.comment_rate {
    width: 50%;
    height: 24px;
    background-image: url('../image/star.png');
    background-size: 100% 100%;
}

.comment_from {
    display: flex;
    width: 90%;
}
.ava {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-size: 100% 100%;
}

.one{
    background-image: url('../image/Oval.png');
}

.two{
    background-image: url('../image/Oval2.png');
}

.three{
    background-image: url('../image/Oval3.png');
}

.commtn_author_name {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.commtn_author_name > .name {
    font-size: 1.3em;
    font-weight: 700;
}

.comments > button{
    width: 138px;
    height: 48px;

    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border: none;

    
    font-family: 'Epilogue-bold';
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #391400;
}

.FAQ{
    height: 120vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #28293E;

    gap: 117px;
    padding-top: 20px;
}

.digital{
    width: 1170px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;


}

.text4{
    width: 470px;
    height: 612px;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}

.text4 > h3{
    width: 371px;
    font-size: 40px;
    line-height: 48px;
}

.contact{
    font-family: 'Epilogue-regular';

    font-size: 16px;
    line-height: 32px;

    color: #FFFFFF;

    margin-top: 40px;
}

.digital_agency{
    width: 570px;
    height: auto;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.digital_white{
    width: 570px;
    height: 273px;

    background: #FFFFFF;
    box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
    border-radius: 6px 6px 0px 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.up{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    gap: 80px;
}

.up > h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.size{
    width: 470px;
    height: 121px; 
    
}

.digital_dark{
    width: 570px;
    height: 113px;

    border: 1px solid #3A3C56;

    font-size: 24px;
    line-height: 32px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
}

.logo_second{
    width: 1170px;
    height: 47px;

    background-image: url(../image/logo2.png);
    background-size: 100% 100%;
}

.our_blog{
    height: 180vh;

    background-color: #FDF0E9;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.articles{
    width: 1170px;
    height: 300px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.articles > button{
    width: 170px;
    height: 48px;

    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border: none;

    font-family: 'Epilogue-bold';
    font-size: 14px;
    line-height: 14px;
    color: #391400;

    margin-top: 30px;
}

.text{
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}

.text >h2{
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
}

.agency{
    width: 1170px;
    height: auto;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;

}

.pumpkin{
    width: 770px;
    height: 550px;

}

.pumpkin > h3{
    font-size: 40px;
    line-height: 48px;
    width: 670px;
}

.people{
    width: 270px;
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.people_design > h4{
    font-size: 24px;
    line-height: 32px;
}

.marketing > h4{
    font-size: 24px;
    line-height: 32px;
}

hr{
    width: 1170px;
    border: 1px solid #F3D1BF;
    border-bottom-width: 0;

    margin-top: 68px;
}

.newsletter{
    width: 1170px;
    height: auto;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.outsource > h4{
    font-family: 'Epilogue-bold';
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    margin-bottom: -1px;
}

.your_email{
    display: flex;
    gap: 30px;
}

.your_email > input{
    width: 370px;
    height: 48px;

    background-color: #FFFFFF;
    border: 1px solid #F3D1BF;
    border-radius: 6px;
    outline: none;

    padding-left: 20px;
}

.your_email > button{
    width: 170px;
    height: 48px;

    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border: none;

    font-family: 'Epilogue-bold';
    font-size: 14px;
    line-height: 14px;
    color: #391400;
}

.get_in_touch{
    height: 100vh;
    background-color: #28293E;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

.input{
    width: 570px;
    height: 496px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 6px;
}

.input >div > h4{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: -2px;
}

.flex_start{
    width: 474px;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

input{
    width: 474px;
    height: 48px;

    background-color: #FFFFFF;
    border: 1px solid #F3D1BF;
    border-radius: 6px;
    outline: none;

    padding-left: 20px;
}

input:nth-child(4){
    height: 128px;  
}

.submit{
    width: 90%;
    height: 48px;
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.submit > button{
    width: 154px;
    height: 48px;

    font-family: 'Epilogue-bold';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    color: #FFFFFF;

    background: #EF6D58;
    border-radius: 6px;
    border: none;

    margin-bottom: 30px;
}

.contacts{
    width: 470px;
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.contacts > h1{
    font-size: 56px;
    line-height: 64px;
    margin: -1px;
}

.adress{
    width: 100%;
    height: 48px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 20px;

    font-family: 'Epilogue-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.dream_project{
    height: 100vh;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    background-color: #FDF0E9;
}

.photo4{
    width: 570px;
    height: 555px;

    background-image: url(../image/pic3.png);
}

footer{
    height: 100vh;

    background-color: #28293E;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.decor{
    width: 100vw;
    height: 240px;

    background-image: url(../image/Group\ 9.png);
    background-size: 100% 100%;
}

.personal{
    width: 1170px;
    height: 200px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: flex-start;
}

menu > li{
    list-style: none;

    font-family: 'Epilogue-regular';
    font-size: 13px;
    line-height: 32px;
    color: #FFFFFF;
}

hr{
    width: 1170px;
    border: 1px solid #3A3C56;
    border-bottom-width: 0;

    margin-top: 20px;
}

.copyright{
    width: 1170px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.privacy{
    display: flex;
    gap: 40px;

}